@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: var(--color-primary);
  --color-bg: var(--background-color);
  --color-primary-black: #393939;
  --color-primary-white: #ffffff;
  --color-primary-gray: #cecece; /* LightMode Article Line */
  --color-secondary-gray: #555555; /* DarkMode Article Line */
  --color-mh-white: rgba(255, 255, 255, 0.5);

  /* Font Sizes */
  --text-xxs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 2.5rem; /* 40px */
  --text-xxl: 5.5rem; /* 88px */

  /* Font Families */
  --font-primary: var(--font-work-sans);
  --font-secondary: var(--font-shippori-mincho);
  --font-tertiary: var(--font-bodoni-moda);
  --font-quaternary: var(--font-dnp-shuei);
}

@layer base {
  :root {
    --background-color: #ececec;
    --color-primary: #e84f36;
  }
  .dark {
    --background-color: #222222;
    --color-primary: #366be8;
  }
  img {
    width: 100%;
  }
}

:root {
  font-size: clamp(10px, 1.111vw, 16px);
}
