@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: var(--color-primary);
  --color-bg: var(--background-color);
  --color-text-primary: var(--text-color);
  --color-border: var(--border-color);
  --color-mh-white: rgba(255, 255, 255, 0.5);

  /* Font Sizes */
  --text-xxs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.25rem; /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 2.5rem; /* 40px */
  --text-xxl: 5.5rem; /* 88px */

  /* Font Families */
  --font-primary: var(--font-work-sans);
  --font-secondary: var(--font-shippori-mincho);
  --font-tertiary: var(--font-bodoni-moda);
  --font-quaternary: "dnp-shuei-gothic-gin-std", "sans-serif";
}

@layer base {
  :root {
    --background-color: #ececec;
    --color-primary: #e84f36;
    --text-color: #393939;
    --border-color: #cecece;
  }
  .dark {
    --background-color: #222222;
    --color-primary: #366be8;
    --text-color: #ffffff;
    --border-color: #555555;
  }
  img {
    width: 100%;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-size: clamp(10px, 1.111vw, 16px);
}
